
/** sidebar-page-container **/

.sidebar-page-container{
  position: relative;
}

.sidebar-page-container .sec-title h2{
  font-size: 48px;
  line-height: 56px;
}

.sidebar-page-container .news-block-one .inner-box{
  margin-bottom: 50px;
}

.sidebar-page-container .cta-style-two .inner-container{
  padding: 62px 30px;
  overflow: hidden;
}

.blog-details-content{
  position: relative;
  display: block;
}

.blog-details-content .news-block-one .inner-box{
  padding: 0px;
  border: none !important;
  box-shadow: none !important;
}

.blog-details-content .content-one p{
  margin-bottom: 30px;
}

.blog-details-content .content-one blockquote{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.06);
  padding: 42px 140px 42px 50px;
  border-left: solid;
  border-width: 4px;
  margin: 50px 0px;
}

.blog-details-content .content-one blockquote .icon-box{
  position: absolute;
  right: 45px;
  bottom: 40px;
  font-size: 67px;
  transform: rotateX(180deg) rotateY(180deg);
}

.blog-details-content .content-one blockquote p{
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
  color: var(--title-color);
  margin-bottom: 14px;
}

.blog-details-content .content-one h4{
  position: relative;
  display: inline-block;
  padding-left: 42px;
  font-size: 20px;
  line-height: 30px;
}

.blog-details-content .content-one h4:before{
  position: absolute;
  content: '';
  width: 30px;
  height: 2px;
  border-radius: 15px;
  left: 0px;
  top: 14px;
}

.blog-details-content .content-two .image-box .image{
  position: relative;
  display: block;
  border-radius: 6px;
}

.blog-details-content .content-two .image-box .image img{
  width: 100%;
  border-radius: 6px;
}

.blog-details-content .content-two .text-box h3{
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 25px;
}

.blog-details-content .content-two .text-box p{
  margin-bottom: 26px;
}

.blog-details-content .content-two .text-box p:last-child{
  margin-bottom: 0px;
}

.blog-details-content .post-share-option{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 45px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 45px;
}

.blog-details-content .post-share-option ul{
  position: relative;
  display: flex;
  align-items: center;
}

.blog-details-content .post-share-option ul li{
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.blog-details-content .post-share-option ul li:last-child{
  margin: 0px !important;
}

.blog-details-content .post-share-option ul li h4{
  font-size: 20px;
  line-height: 30px;
}

.blog-details-content .post-share-option .tags-list li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: var(--title-color);
  border: 1px solid #e5e5e5;
  border-radius: 40px;
  padding: 7px 19px;
}

.blog-details-content .post-share-option .tags-list li a:hover{
  color: #fff;
}

.blog-details-content .post-share-option .social-links li a{
  position: relative;
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  font-size: 20px;
  color: var(--title-color);
  text-align: center;
}

.blog-details-content .post-share-option .social-links li a:hover{
  color: #fff;
}

.blog-details-content .author-box{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.06);
  padding: 47px 30px 38px 195px;
}

.blog-details-content .author-box .thumb-box{
  position: absolute;
  left: 30px;
  top: 30px;
  border-radius: 50%;
}

.blog-details-content .author-box .thumb-box img{
  width: 100%;
  border-radius: 50%;
}

.blog-details-content .author-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.blog-details-content .author-box .designation{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 17px;
}

.blog-details-content .author-box p{
  
}

.blog-details-content .group-title{
  position: relative;
  display: block;
}

.blog-details-content .group-title h2{
  font-size: 28px;
  line-height: 30px;
}

.blog-details-content .comment-box .form-inner .form-group{
  position: relative;
  display: block;
  margin-bottom: 22px;
}

.blog-details-content .comment-box .form-inner .form-group label{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: var(--title-color);
  margin-bottom: 8px;
}

.blog-details-content .comment-box .form-inner .form-group label span{
  
}

.blog-details-content .comment-box .form-inner .form-group input[type='text'],
.blog-details-content .comment-box .form-inner .form-group input[type='email'],
.blog-details-content .comment-box .form-inner .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 50px;
  font-size: 16px;
  color: var(--title-color);
  padding: 10px 20px;
  transition: all 500ms ease;
}

.blog-details-content .comment-box .form-inner .form-group input:focus,
.blog-details-content .comment-box .form-inner .form-group textarea:focus{

}

.blog-details-content .comment-box .form-inner .form-group textarea{
  height: 195px;
  resize: none;
  border-radius: 20px;
}

.blog-details-content .comment-box .form-inner .check-box-two label:before{
  top: 8px;
}


/** rtl-css **/

.rtl .blog-details-content .post-share-option ul li{
  margin-right: 0px;
  margin-left: 10px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .blog-details-content,
  .blog-standard-content{
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px){
  .blog-details-content .post-share-option{
    display: block;
  }

  .blog-details-content .post-share-option .tags-list{
    margin-bottom: 15px;
  }

  .blog-details-content .content-one blockquote{
    padding-left: 30px;
    padding-right: 30px;
  }

  .blog-details-content .content-one blockquote .icon-box{
    display: none;
  }
}

@media only screen and (max-width: 599px){
  .blog-details-content .author-box{
    padding-left: 30px;
  }

  .blog-details-content .author-box .thumb-box{
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 499px){
  .blog-details-content .post-share-option ul{
    display: block;
  }

  .blog-details-content .post-share-option ul li{
    margin-bottom: 10px;
  }
}











































