
/** news-section **/

.news-section{
  position: relative;
}

.news-block-one .inner-box{
  position: relative;
  display: block;
  overflow: hidden;
  background: #fff;
  padding: 10px;
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all 500ms ease;
}

.news-block-one .inner-box:hover{
  border-color: #fff;
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.10);
}

.news-block-one .inner-box .image-box{
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.news-block-one .inner-box .image-box img{
  width: 100%;
  border-radius: 10px;
}

.news-block-one .inner-box .image-box .overlay-image{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  z-index: 1;
  transition: all 0.5s ease-in-out 0.1s;
}

.news-block-one .inner-box:hover .image-box .overlay-image{
  transform: scaleY(1);
}

.news-block-one .inner-box .lower-content{
  position: relative;
  display: block;
  padding: 28px 20px 16px 20px;
  z-index: 2;
}

.news-block-one .inner-box .lower-content .sub-title{
  position: absolute;
  left: 20px;
  top: -12px;
}

.news-block-one .inner-box .lower-content h4{
  display: block;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 12px;
}

.news-block-one .inner-box .lower-content h4 a{
  display: inline-block;
  color: var(--title-color);
}

.news-block-one .inner-box .lower-content h4 a:hover{

}

.news-block-one .inner-box .lower-content .post-info{
  position: relative;
  display: flex;
  align-items: center;
}

.news-block-one .inner-box .lower-content .post-info li{
  margin-right: 7px;
  font-size: 16px;
  line-height: 26px;
}

.news-block-one .inner-box .lower-content .post-info li:last-child{
  margin: 0px;
}

.news-block-one .inner-box .lower-content .post-info li a{
  position: relative;
  display: inline-block;
  font-weight: 700;
  color: var(--title-color);
}

.news-block-one .inner-box .lower-content .post-info li a:hover{

}

.news-block-two{
  position: relative;
  display: block;
  overflow: hidden;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.10);
}

.news-block-two .inner-box{
  position: relative;
  display: block;
  border-radius: 6px;
  padding: 20px 20px 20px 20px;
  overflow: hidden;
}

.news-block-two .inner-box .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  transition: all 500ms ease;
}

.news-block-two .inner-box:hover .bg-layer{
  transform: scaleY(1.05);
}

.news-block-two .inner-box .bg-layer:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40.86%, #000000 100%);
}

.news-block-two .inner-box .sub-title{
  margin-bottom: 195px;
}

.news-block-two .inner-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 14px;
}

.news-block-two .inner-box h4 a{
  position: relative;
  display: inline-block;
  color: #fff;
}

.news-block-two .inner-box h4 a:hover{

}

.news-block-two .inner-box .post-info{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #6A6A6A;
}

.news-block-two .inner-box .post-info a{
  display: inline-block;
  color: #fff;
  font-weight: 700;
}

.news-block-two .inner-box .post-info a:hover{

}

.news-block-one .inner-box .lower-content h2{
  display: block;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 12px;
}

.news-block-one .inner-box .lower-content h2 a{
  display: inline-block;
  color: var(--title-color);
}

.news-block-one .inner-box .lower-content h2 a:hover{

}


/** rtl-css **/

.rtl .news-block-one .inner-box .lower-content .sub-title{
  left: inherit;
  right: 20px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .news-block-one .inner-box .lower-content h2{
    font-size: 24px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 599px){
  
}

@media only screen and (max-width: 499px){
  .news-block-one .inner-box .lower-content .post-info{
    display: block;
  }
}











































