
/** apps-section **/

.apps-section{
  position: relative;
}

.apps-section .inner-container{
  position: relative;
  width: 100%;
  padding: 140px 120px;
  border-radius: 10px;
  overflow: hidden;
}

.apps-section .inner-container .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.apps-section .content-box{
  position: relative;
  display: block;
  max-width: 520px;
}

.apps-section .content-box h2{
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  margin-bottom: 40px;
}

.apps-section .content-box .download-btn{
  position: relative;
  display: flex;
  align-items: center;
}

.apps-section .content-box .download-btn a{
  position: relative;
  display: inline-block;
  width: 200px;
  background: #fff;
  padding: 11px 20px 11px 55px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  color: var(--title-color);
  margin-right: 20px;
  border-radius: 5px;
}

.apps-section .content-box .download-btn a:hover{
  background: #FFB31F;
}

.apps-section .content-box .download-btn a img{
  position: absolute;
  left: 20px;
  top: 14px;
}

.apps-section .content-box .download-btn a:last-child{
  margin: 0px !important;
}

.apps-section .content-box .download-btn a span{
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
}



/** rtl-css **/

.rtl .apps-section .content-box .download-btn a {
  margin-right: 0px;
  margin-left: 20px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .apps-section .inner-container{
    padding: 70px 30px;
  }

  .apps-section .content-box h2{
    font-size: 40px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){

}











































