
/** deals-section **/

.deals-section{
  position: relative;
  background: #F3F3F3;
  overflow: hidden;
}

.deals-block-one .inner-box{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding-left: 402px;
  min-height: 360px;
  margin-bottom: 30px;
}

.deals-block-one .inner-box .image-box{
  position: absolute;
  left: 30px;
  top: 35px;
  width: 350px;
  overflow: hidden;
  margin: 0 auto;
}

.deals-block-one .inner-box .image-box .image img{
  width: 100%;
  transition: all 0.3s ease-in-out 0.1s;
}

.deals-block-one .inner-box:hover .image-box .image img{
  transform: scale(1.1);
}

.deals-block-one .inner-box .image-box .option-list{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 500ms ease;
}

.deals-block-one .inner-box .image-box .option-list li{
  position: relative;
  display: inline-block;
  margin: 0px 5px;
  -webkit-transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),background-color 0.1s cubic-bezier(.28,.12,.22,1),color 0.1s cubic-bezier(.28,.12,.22,1),border-color 0.1s cubic-bezier(.28,.12,.22,1),-webkit-transform 0.25s cubic-bezier(.17,.62,.44,.99),-webkit-box-shadow 0.1s cubic-bezier(.28,.12,.22,1);
  transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),background-color 0.1s cubic-bezier(.28,.12,.22,1),color 0.1s cubic-bezier(.28,.12,.22,1),border-color 0.1s cubic-bezier(.28,.12,.22,1),-webkit-transform 0.25s cubic-bezier(.17,.62,.44,.99),-webkit-box-shadow 0.1s cubic-bezier(.28,.12,.22,1);
  transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),transform 0.25s cubic-bezier(.17,.62,.44,.99),background-color 0.1s cubic-bezier(.28,.12,.22,1),color 0.1s cubic-bezier(.28,.12,.22,1),border-color 0.1s cubic-bezier(.28,.12,.22,1),box-shadow 0.1s cubic-bezier(.28,.12,.22,1);
  transition: opacity 0.25s cubic-bezier(.17,.62,.44,.99),transform 0.25s cubic-bezier(.17,.62,.44,.99),background-color 0.1s cubic-bezier(.28,.12,.22,1),color 0.1s cubic-bezier(.28,.12,.22,1),border-color 0.1s cubic-bezier(.28,.12,.22,1),box-shadow 0.1s cubic-bezier(.28,.12,.22,1),-webkit-transform 0.25s cubic-bezier(.17,.62,.44,.99),-webkit-box-shadow 0.1s cubic-bezier(.28,.12,.22,1); */
  will-change: opacity,transform;
  opacity: 0;
  -webkit-transform: translateX(0.625rem);
  transform: translateX(0.625rem);
}

.deals-block-one .inner-box:hover .image-box .option-list li{
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.deals-block-one .inner-box .image-box .option-list li:first-child{
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.deals-block-one .inner-box .image-box .option-list li:nth-child(2){
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.deals-block-one .inner-box .image-box .option-list li:nth-child(3){
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.deals-block-one .inner-box .image-box .option-list li:nth-child(4){
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.deals-block-one .inner-box .image-box .option-list li a,
.deals-block-one .inner-box .image-box .option-list li button{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 42px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 16px;
  color: var(--title-color);
  cursor: pointer;
  transition: all 500ms ease;
}

.deals-block-one .inner-box .image-box .option-list li:first-child a{
  font-size: 14px;
}

.deals-block-one .inner-box .image-box .option-list li a:hover,
.deals-block-one .inner-box .image-box .option-list li button:hover{
  color: #fff;
}

.deals-block-one .inner-box .content-box{
  position: relative;
  display: block;
  padding: 45px 30px 50px 30px;
}

.deals-block-one .inner-box .content-box h3{
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 7px;
}

.deals-block-one .inner-box .content-box h3 a{
  display: inline-block;
  color: var(--title-color);
}

.deals-block-one .inner-box .content-box h3 a:hover{

}

.deals-block-one .inner-box .content-box h4{
  font-size: 20px;
  line-height: 30px;
  color: #E92530;
  margin-bottom: 10px;
}

.deals-block-one .inner-box .content-box h4 del{
  font-weight: 500;
  color: #7C7C7C;
  margin-right: 8px;
}

.deals-block-one .inner-box .content-box .cs-countdown{
  position: relative;
  display: flex;
  align-items: center;
}

.deals-block-one .inner-box .content-box .count-col{
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
  margin-right: 16px;
  background: #EAF2ED;
}

.deals-block-one .inner-box .content-box .count-col:last-child{
  margin: 0px !important;
}

.deals-block-one .inner-box .content-box .count-col:after{
  position: absolute;
  content: ':';
  font-size: 24px;
  top: -2px;
  right: -11px;
}

.deals-block-one .inner-box .content-box .count-col:last-child:after{
  display: none;
}

.deals-block-one .inner-box .content-box .count-col h6{
  display: none;
}

.deals-block-one .inner-box .content-box .count-col span{
  font-size: 20px;
  font-family: var(--title-font);
  font-weight: 700;
}

.deals-block-one .inner-box .content-box .theme-btn{
  border: solid;
  border-width: 1px;
  background: transparent;
  color: var(--theme-color) !important;
  padding-top: 9px;
  padding-bottom: 9px;
}

.deals-block-one .inner-box .content-box .theme-btn:hover{
  border-color: var(--secondary-color) !important;
  color: #fff !important;
}

.deals-section .owl-nav{
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -28px;
  width: 100%;
}

.deals-section .owl-nav .owl-prev{
  position: absolute;
  left: -28px;
  background: #fff;
  border: 1px solid #E5E5E5;
  line-height: 50px;
}

.deals-section .owl-nav .owl-next{
  position: absolute;
  right: -28px;
  background: #fff;
  border: 1px solid #E5E5E5;
  line-height: 50px;
}

.deals-section.home-4{
  background: transparent;
}

.deals-section.home-4 .deals-block-one .inner-box{
  border: 1px solid #E5E5E5;
  transition: all 500ms ease;
}

.deals-section.home-4 .deals-block-one .inner-box:hover{
  border-color: #fff;
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.10);
}

.deals-section.home-4 .owl-carousel .owl-stage-outer{
  overflow: visible;
}

.deals-section.home-4 .owl-carousel .owl-stage-outer .owl-item{
  visibility: hidden;
  opacity: 0;
}

.deals-section.home-4 .owl-carousel .owl-stage-outer .owl-item.active{
  visibility: visible;
  opacity: 1;
}


/** rtl-css **/

.rtl .deals-block-one .inner-box{
  direction: rtl;
}

.rtl .deals-block-one .inner-box .content-box .count-col{
  margin-right: 0px;
  margin-left: 16px;
}

.rtl .deals-block-one .inner-box .content-box .count-col:after{
  right: inherit;
  left: -12px;
}

/** responsive-css **/

@media only screen and (max-width: 1499px){
  .deals-block-one .inner-box{
    padding-left: 0px;
  }

  .deals-block-one .inner-box .image-box{
    position: relative;
    left: 0px;
    top: 0px;
    top: 30px;
  }
}

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .deals-section .owl-nav{
    display: none;
  }
}

@media only screen and (max-width: 599px){
  
}

@media only screen and (max-width: 499px){
  .deals-block-one .inner-box .image-box{
    width: 100%;
  }

  .deals-block-one .inner-box .content-box{
    padding-left: 30px;
    padding-right: 30px;
  }
}











































