
/** error-section **/

.error-section{
  position: relative;
}

.error-section .content-box{
  position: relative;
  display: block;
}

.error-section .content-box .image-box{
  position: relative;
  display: block;
  margin-bottom: 60px;
}

.error-section .content-box h2{
  position: relative;
  display: block;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
}

.error-section .content-box .btn-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-section .content-box .btn-box .theme-btn.btn-two i{
  font-size: 12px;
  margin-right: 8px;
}

.error-section .content-box .btn-box .theme-btn.btn-two:hover{
  background: #FFAC00;
}


/** rtl-css **/

.rtl .error-section .content-box .btn-box .btn-two{
  margin-right: 0px;
  margin-left: 20px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (max-width: 767px){
  .error-section{
    padding: 80px 0px;
  }
}

@media only screen and (max-width: 599px){

}

@media only screen and (max-width: 499px){
  .error-section .content-box .btn-box{
    display: block;
  }

  .error-section .content-box .btn-box .btn-two{
    margin: 0px 0px 10px 0px !important;
  }
}































