
/** header-upper **/

.header-upper{
  position: relative;
  background: var(--theme-color);
  padding: 25px 0px;
}

.header-upper .upper-inner{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.main-header .search-area{
  position: relative;
  display: flex;
  align-items: center;
  width: 810px;
  background: #fff;
  border-radius: 50px;
}

.main-header .search-area .category-inner .nice-select{
  padding: 17px 35px 17px 25px;
  font-size: 15px;
  color: var(--title-color);
  text-transform: capitalize;
  border-right: 1px solid #E5E5E5;
}

.main-header .search-area .category-inner .nice-select:before{
  color: var(--title-color);
  top: 17px;
  right: 24px;
  display: none;
}

.main-header .search-area .search-box{
  width: 100%;
}

.main-header .search-area .search-box .form-group{
  position: relative;
  margin: 0px;
}

.main-header .search-area .search-box .form-group input[type='search']{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  font-size: 15px;
  color: var(--title-color);
  font-family: var(--text-font);
  padding: 10px 80px 10px 25px;
}

.main-header .search-area .search-box .form-group button[type='submit']{
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 5px;
  width: 60px;
  height: 40px;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #FFAC00;
  border-radius: 100px;
  cursor: pointer;
  transition: all 500ms ease;
}

.main-header .search-area .search-box .form-group input:focus + button,
.main-header .search-area .search-box .form-group button:hover{
  background: var(--theme-color);
}

.main-header .right-column{
  position: relative;
  display: flex;
  align-items: center;
}

.main-header .support-box{
  position: relative;
  display: block;
  padding-left: 48px;
}

.main-header .support-box .icon-box{
  position: absolute;
  left: 0px;
  top: 3px;
  font-size: 35px;
  color: #fff;
}

.main-header .support-box a{
  position: relative;
  display: inline-block;
  font-size: 24px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
}

.main-header .support-box a:hover{
  text-decoration: underline;
}

.main-header .support-box p{
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}

.main-header .option-list{
  position: relative;
  display: flex;
  align-items: center;
}

.main-header .option-list li{
  margin-right: 20px;
}

.main-header .option-list li:last-child{
  margin: 0px !important;
}

.main-header .option-list li a,
.main-header .option-list li button{
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 500ms ease;
}

.main-header .option-list li a:hover,
.main-header .option-list li button:hover{

}

.main-header .option-list li a span{
  position: absolute;
  display: inline-block;
  top: -5px;
  right: -12px;
  width: 19px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}

.main-header .header-lower{
  box-shadow: 0px 4px 4px 0px #0000000D;
}

.main-header .outer-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .outer-box .category-box{
  position: relative;
  display: inline-block;
  left: 0px;
  top: 4px;
  width: 300px;
  border: solid;
  border-width: 1px;
  border-color: #E6E6E6;
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding: 15px 20px;
  cursor: pointer;
}

.main-header .outer-box .category-box .text{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--title-color);
  padding-left: 28px;
}

.main-header .outer-box .category-box .text i{
  position: absolute;
  left: 0px;
  top: 2px;
  font-size: 18px;
  font-weight: 400;
}

.main-header .outer-box .category-box .text:before{
  position: absolute;
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  top: 0px;
  right: 0px;
  font-size: 16px;
  font-weight: 400;
}

.main-header .outer-box .category-box .category-list{
  position: absolute;
  left: -1px;
  top: 100%;
  width: 100%;
  background: #fff;
  border: solid;
  border-width: 1px;
  border-color: #E6E6E6;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  opacity: 0;
  transform-origin: top center;
  transform: scaleY(0);
  visibility: hidden;
  width: 300px;
  transition: all 500ms ease;
}

.main-header .outer-box .category-box:hover .category-list{
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

.main-header .outer-box .category-box .category-list > li{
  position: relative;
  display: block;
}

.main-header .outer-box .category-box .category-list > li:after{
  position: absolute;
  content: '';
  width: 3px;
  height: 0px;
  left: 0px;
  top: 0px;
  transition: all 500ms ease;
}

.main-header .outer-box .category-box .category-list > li:hover:after{
  height: 100%;
}

.main-header .outer-box .category-box .category-list > li:before{
  position: absolute;
  content: '';
  background: transparent;
  top: 0px;
  right: -10px;
  width: 10px;
  height: 100%;
}

.main-header .outer-box .category-box .category-list > li > a{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 26px;
  font-family: var(--title-font);
  color: var(--title-color);
  padding: 12px 50px;
  padding-left: 63px;
  border-radius: 50px;
  font-weight: 600;
  text-transform: capitalize;
  z-index: 1;
  transition: all 500ms ease;
}

.main-header .outer-box .category-box .category-list > li.category-dropdown > a:before{
  position: absolute;
  content: "\f105";
  font-family: 'Font Awesome 5 Pro';
  top: 12px;
  right: 20px;
  font-size: 16px;
  font-weight: 400;
}

.main-header .outer-box .category-box .category-list > li > a:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0;
  z-index: -1;
  transition: all 500ms ease;
}

.main-header .outer-box .category-box .category-list > li .icon{
  position: absolute;
  left: 25px;
  top: 10px;
}

.main-header .outer-box .category-box .category-list > li > a:hover:after{
  opacity: 0.15;
}

.main-header .outer-box .category-box .category-list .list-inner{
  position: absolute;
  left: 100%;
  top: 0px;
  width: 990px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #00000012;
  border-radius: 5px;
  opacity: 0;
  transform-origin: left center;
  transform: scaleX(0);
  visibility: hidden;
  overflow: hidden;
  padding-right: 280px;
  transition: all 500ms ease;
}

.main-header .outer-box .category-box .category-list .category-dropdown:hover .list-inner{
  transform: scaleX(1);
  visibility: visible;
  opacity: 1;
}

.main-header .outer-box .category-box .list-inner .inner-box{
  position: relative;
  padding: 40px 50px;
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-header .outer-box .category-box .list-inner .inner-box p{
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--title-font);
  font-weight: 700;
  color: var(--title-color);
  margin-bottom: 15px;
}

.main-header .outer-box .category-box .list-inner .inner-box .single-column{
  position: relative;
  float: left;
  width: 33.333%;
}

.main-header .outer-box .category-box .list-inner .inner-box .single-column ul li{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 40px;
  color: var(--title-color);
}

.main-header .outer-box .category-box .list-inner .inner-box .single-column ul li a{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 40px;
  color: var(--title-color);
}

.main-header .outer-box .category-box .list-inner .inner-box .single-column ul li a:hover{

}

.main-header .outer-box .category-box .list-inner .shop-block{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 280px;
  background: #E2EFEA;
  padding: 30px 15px 40px 30px;
}

.main-header .outer-box .category-box .list-inner .shop-block .title{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 6px;
}

.main-header .outer-box .category-box .list-inner .shop-block h2{
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 6px;
}

.main-header .outer-box .category-box .list-inner .shop-block h2 a{
  position: relative;
  display: inline-block;
  color: var(--title-color);
}

.main-header .outer-box .category-box .list-inner .shop-block h2 a:hover{

}

.main-header .outer-box .category-box .list-inner .shop-block .image{
  position: absolute;
}

.main-header .outer-box .category-box .list-inner .shop-block h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 106px;
  color: #E92530;
  z-index: 1;
}

.main-header .outer-box .category-box .list-inner .shop-block .link{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--title-color);
  background: #fff;
  border-radius: 5px;
  padding: 3.5px 20px;
  z-index: 1;
}

.main-header .outer-box .category-box .list-inner .shop-block .link:hover{
  color: #fff;
}

.main-header .menu-right-content .currency-box .nice-select{
  color: var(--title-color);
}

.main-header .menu-right-content .currency-box .nice-select:before{
  color: var(--title-color);
}

.main-header .menu-right-content{
  position: relative;
  display: flex;
  align-items: center;
}

.main-header .menu-right-content .info-list{
  position: relative;
  display: flex;
  align-items: center;
}

.main-header .menu-right-content .info-list li{
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.main-header .menu-right-content .info-list li:last-child{
  margin: 0px !important;
}

.main-header .menu-right-content .info-list li a{
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: var(--title-color);
}

.main-header .menu-right-content .info-list li a:hover{
  
}

.main-header .menu-right-content .info-list li a.shopping-cart{
  padding-right: 12px;
}

.main-header .menu-right-content .info-list li a.shopping-cart span{
  position: absolute;
  display: inline-block;
  width: 19px;
  height: 19px;
  line-height: 19px;
  background: var(--secondary-color);
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  top: -5px;
  right: 0px;
}

/** main-menu **/

.main-menu{
  float: left;
}

.main-menu .navbar-collapse{
  padding:0px;
  display:block !important;
}

.main-menu .navigation{
  margin:0px;
}

.main-menu .navigation > li{
  position:inherit;
  float:left;
  z-index:2;
  margin: 0px 19px;
  -webkit-transition:all 300ms ease;
  -moz-transition:all 300ms ease;
  -ms-transition:all 300ms ease;
  -o-transition:all 300ms ease;
  transition:all 300ms ease;
}

.main-menu .navigation > li:last-child{
  margin-right:0px !important;
}

.main-menu .navigation > li:first-child{
  margin-left: 0px !important;
}

.main-menu .navigation > li > a{
  position:relative;
  display:block;
  text-align:center;
  font-size:16px;
  line-height:26px;
  padding-top: 17px;
  padding-bottom: 17px;
  font-weight:500;
  font-family: var(--text-font);
  opacity:1;
  color: var(--title-color);
  z-index:1;
  -webkit-transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

.main-menu .navigation > li.dropdown > a{
  padding-right: 17px;
}

.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a{
  
}

.main-menu .navigation > li.dropdown > a:before{
  position: absolute;
  content: "\f107";
  font-family: 'Font Awesome 5 Pro';
  top: 17px;
  right: 0px;
  font-weight: 500;
  transition: all 500ms ease;
}

.main-menu .navigation > li > ul,
.main-menu .navigation > li > .megamenu{
  position:absolute;
  left: inherit;
  top:100%;
  width:230px;
  margin-top: 15px;
  padding: 15px 30px;
  z-index:100;
  display:none;
  background: #fff;
  opacity: 0;
  border-bottom: solid;
  border-width: 3px;
  visibility: hidden;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  border-radius: 0px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul.from-right{
  left:auto;
  right:0px;  
}

.main-menu .navigation > li > ul > li{
  position:relative;
  width:100%;
}

.main-menu .navigation > li > ul > li > a,
.main-menu .navigation > li > .megamenu li > a{
  position:relative;
  display:block;
  padding: 5px 0px;
  line-height:24px;
  font-weight:500;
  font-size:15px;
  text-transform:capitalize;
  font-family: var(--text-font);
  color:var(--title-color);
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > .megamenu li > a{
  padding-left: 0px;
}

.main-menu .navigation > li > .megamenu h4{
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li > .megamenu li > a:hover{
  letter-spacing: 1px;
}

.main-menu .navigation > li > ul > li:last-child > a,
.main-menu .navigation > li > .megamenu li:last-child > a{
  border-bottom: none;
}

.main-menu .navigation > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Pro';
  content: "\f105";
  position:absolute;
  right:20px;
  top:10px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:800;
  text-align:center;
  z-index:5;  
}

.main-menu .navigation > li > ul > li > ul{
  position:absolute;
  left:100%;
  top:0%;
  margin-top: 15px;
  background: var(--secondary-color);
  border-top: solid;
  border-width: 2px;
  width:230px;
  z-index:100;
  display:none;
  border-radius: 0px;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul.from-right{
  left:auto;
  right:0px;  
}

.main-menu .navigation > li > ul > li > ul > li{
  position:relative;
  width:100%;
}

.main-menu .navigation > li > ul > li > ul > li:last-child{
  border-bottom:none; 
}

.main-menu .navigation > li > ul > li > ul > li > a{
  position:relative;
  display:block;
  padding:10px 25px;
  line-height:24px;
  font-weight:500;
  font-size:15px;
  text-transform:capitalize;
  font-family: var(--text-font);
  color:#fff;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  text-align: left;
  transition:all 500ms ease;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
}

.main-menu .navigation > li > ul > li > ul > li:last-child > a{
  border-bottom: none;
}

.main-menu .navigation > li > ul > li > ul > li > a:hover{
  padding-left: 35px;
}

.main-menu .navigation > li > ul > li > ul > li.dropdown > a:after{
  font-family: 'Font Awesome 5 Pro';
  content: "\f105";
  position:absolute;
  right:20px;
  top:12px;
  display:block;
  line-height:24px;
  font-size:16px;
  font-weight:900;
  z-index:5;  
}

.main-menu .navigation > li.dropdown:hover > ul,
.main-menu .navigation > li.dropdown:hover > .megamenu{
  visibility:visible;
  opacity:1;
  margin-top: 0px;
  top: 100%;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
  visibility:visible;
  opacity:1;
  top: 0%; 
  margin-top: 0px;
}

.main-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:-32px;
  top:66px;
  width:34px;
  height:30px;
  text-align:center;
  font-size:18px;
  line-height:26px;
  color:#3b3b3b;
  cursor:pointer;
  display: none;
  z-index:5;
  transition: all 500ms ease;
}

.main-menu .navigation li.current.dropdown .dropdown-btn,
.main-menu .navigation li:hover .dropdown-btn{
  
}

.main-menu .navigation li.dropdown ul li.dropdown .dropdown-btn{
  display: none;
}

.menu-area .mobile-nav-toggler {
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  background: var(--theme-color);
  display: none;
}

.mobile-menu .nav-logo img{
  max-width: 160px;
}

.menu-area .mobile-nav-toggler .icon-bar{
  position: relative;
  height: 2px;
  width: 30px;
  display: block;
  margin-bottom: 5px;
  background-color: #fff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.menu-area .mobile-nav-toggler .icon-bar:last-child{
  margin-bottom: 0px;
}


/** megamenu-style **/

.main-menu .navigation > li.dropdown > .megamenu{
  position: absolute;
  width: 100%;
  padding: 30px 50px;
  left: 0px;
}

.main-menu .navigation li.dropdown .megamenu li h4{
  margin-bottom: 10px;
}


/** mobile-menu **/

.nav-outer .mobile-nav-toggler{
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  color:#3786ff;
  display: none;
}

.mobile-menu{
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-right:30px;
  max-width:100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
  transition: all 900ms ease;
}

.mobile-menu .navbar-collapse{
  display:block !important; 
}

.mobile-menu .nav-logo{
  position:relative;
  padding:50px 25px;
  text-align:left;  
  padding-bottom: 100px;
}

.mobile-menu-visible{
  overflow: hidden;
}

.mobile-menu-visible .mobile-menu{
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-backdrop{
  position: fixed;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 900ms ease;
  background-color: #000;
}

.mobile-menu-visible .mobile-menu .menu-backdrop{
  opacity: 0.70;
  visibility: visible;
  right: 100%;
  -webkit-transition: all .8s ease-out 0s;
  -o-transition: all .8s ease-out 0s
}

.mobile-menu .menu-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #141417;
  padding: 0px 0px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 900ms ease !important;
}

.mobile-menu-visible .mobile-menu .menu-box{
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .close-btn{
  position: absolute;
  right: 25px;
  top: 10px;
  line-height: 30px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
}

.mobile-menu .navigation{
  position: relative;
  display: block;
  width: 100%;
  float: none;
}

.mobile-menu .navigation li{
  position: relative;
  display: block;
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > ul > li:first-child{
  border-top: 1px solid rgba(255,255,255,0.10);
}

.mobile-menu .navigation li > a{
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li ul li > a{
  font-size: 16px;
  margin-left: 20px;
  text-transform: capitalize;
}

.mobile-menu .navigation li > a:before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  height:0;
  border-left:5px solid #fff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .navigation li.current > a:before{
  height:100%;
}

.mobile-menu .navigation li.dropdown .dropdown-btn{
  position:absolute;
  right:6px;
  top:6px;
  width:32px;
  height:32px;
  text-align:center;
  font-size:16px;
  line-height:32px;
  color:#ffffff;
  background:rgba(255,255,255,0.10);
  cursor:pointer;
  border-radius:2px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
  z-index:5;
}

.mobile-menu .navigation li.dropdown .dropdown-btn.open{
  color: #ffffff;
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);  
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul,
.mobile-menu .navigation > li.dropdown > .megamenu{
  display: none;
}

.mobile-menu .social-links{
  position:relative;
  padding:0px 25px;
}

.mobile-menu .social-links li{
  position:relative;
  display:inline-block;
  margin:0px 10px 10px;
}

.mobile-menu .social-links li a{
  position:relative;
  line-height:32px;
  font-size:16px;
  color:#ffffff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; 
}

.mobile-menu .social-links li a:hover{
  
}

div#mCSB_1_container{
  top: 0px !important;
}

.mobile-menu .contact-info {
  position: relative;
  padding: 120px 30px 20px 30px;
}

.mobile-menu .contact-info h4 {
  position: relative;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 20px;
}

.mobile-menu .contact-info ul li {
  position: relative;
  display: block;
  font-size: 15px;
  color: rgba(255,255,255,0.80);
  margin-bottom: 3px;
}

.mobile-menu .contact-info ul li a{
  color: rgba(255,255,255,0.80);
}

.mobile-menu .contact-info ul li a:hover{
  
}

.mobile-menu .contact-info ul li:last-child{
  margin-bottom: 0px;
}


/** header-top **/

.header-top{
  position: relative;
  padding: 12px 0px;
  background: #16803F;
}

.header-top .top-inner{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top .info-list{
  position: relative;
  display: flex;
  align-items: center;
}

.header-top .info-list li{
  position: relative;
  display: inline-block;
  padding-left: 22px;
  font-size: 14px;
  line-height: 16px;
  margin-right: 30px;
  color: #fff;
}

.header-top .info-list li:last-child{
  margin-right: 0px;
}

.header-top .info-list li i{
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 16px;
}

.header-top .info-list:last-child li{
  padding-left: 26px;
}

.header-top .info-list:last-child li i{
  font-size: 20px;
  top: -2px;
}

.header-top .info-list li a{
  display: inline-block;
  color: #fff;
}

.header-top .info-list li a:hover{
  text-decoration: underline;
}

.header-top .text p{
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.header-top .text p span{
  font-weight: 600;
}


/** header-style-three **/

.header-style-three{
  position: relative;
}

.header-style-three .header-upper{
  padding: 15px 0px;
}

.header-style-three .header-upper .left-column{
  position: relative;
  display: flex;
  align-items: center;
}

.main-header .location-box{
  position: relative;
}

.main-header .location-box .select-box{
  min-height: 40px;
}

.main-header .location-box .nice-select{
  position: relative;
  display: block;
  height: 40px;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  padding-left: 48px;
  padding-right: 35px;
  font-size: 16px;
  font-family: var(--title-font);
  font-weight: 700;
  text-transform: capitalize;
}

.main-header .location-box .nice-select:before{
  right: 20px;
}

.main-header .location-box .icon-box{
  position: absolute;
  left: 20px;
  top: 9px;
  font-size: 20px;
  color: #fff;
}

.header-style-three .header-upper .main-menu .navigation > li > a{
  padding-top: 7px;
  padding-bottom: 7px;
  color: #fff;
}

.header-style-three .header-upper .main-menu .navigation > li.dropdown > a:before{
  top: 7px;
}

.header-style-three .support-box .icon-box{
  font-size: 24px;
}

.header-style-three .support-box{
  padding-left: 34px;
  padding-top: 2px;
}

.header-style-three .header-lower{
  padding: 9px 0px;
  box-shadow: none;
}

.header-style-three .search-area{
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}

.header-style-three .search-area .search-box .form-group button[type='submit']{
  width: 40px;
  border-radius: 5px;
}

.header-style-three .outer-box .category-box{
  top: 9px;
}

.header-style-three .sticky-header .outer-box .category-box{
  top: 4px;
}


/** header-style-four **/

.header-style-four{
  position: relative;
}

.header-style-four .header-lower{
  box-shadow: none;
  padding: 10px 0px;
}

.header-style-four .header-top{

}

.header-style-four .language-picker__flag.language-picker__label,
.header-style-four .language-picker__button:before{
  color: var(--title-color);
}

.main-header .menu-right-content .search-box .form-group{
  position: relative;
  width: 370px;
  margin-bottom: 0px;
}

.main-header .menu-right-content .search-box .form-group input[type='search']{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #E5E5E5;
  border-radius: 100px;
  font-size: 14px;
  font-family: var(--title-font);
  color: var(--title-color);
  font-weight: 600;
  padding: 10px 70px 10px 20px;
  transition: all 500ms ease;
}

.main-header .menu-right-content .search-box .form-group button[type='submit']{
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: var(--secondary-color);
  transition: all 500ms ease;
}

.main-header .menu-right-content .search-box .form-group input:focus{

}

.main-header .menu-right-content .search-box .form-group input:focus + button,
.main-header .menu-right-content .search-box .form-group button:hover{

}


/** header-style-five **/

.header-style-five{
  position: relative;
}

.header-style-five .header-lower .outer-box .category-box .category-list {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
}

.header-style-five .header-lower{
  box-shadow: none;
  border-bottom: 1px solid #E5E5E5;
}

.header-style-five .header-lower .outer-box .category-box{
  background: #E9FAEB;
}

.header-style-five .header-lower .outer-box .category-box .category-list > li > a{
  padding-top: 13.5px;
  padding-bottom: 13.5px;
}



/** rtl-css **/

.rtl .language-picker{
  margin-right: 0px;
  margin-left: 40px;
}

.rtl .main-header .search-area .category-inner .nice-select{
  border-right: none;
  border-left: 1px solid #E5E5E5;
}

.rtl .nice-select .option{
  text-align: right;
}

.rtl .main-header .menu-right-content .currency-box{
  margin-right: 0px;
  margin-left: 40px;
}

.rtl .main-header .menu-right-content .info-list li{
  margin-right: 0px;
  margin-left: 20px;
}

.rtl .cart-menu{
  right: inherit;
  left: 0px;
}

.rtl .main-header .outer-box .category-box .text{
  padding-left: 0px;
  padding-right: 28px;
}

.rtl .main-header .outer-box .category-box{
  left: inherit;
  right: 0px;
}

.rtl .main-header .outer-box .category-box .category-list .list-inner{
  left: inherit;
  right: 100%;
  transform-origin: right center;
}

.rtl .main-header .outer-box .category-box .category-list > li:before{
  right: inherit;
  left: -10px;
}

.rtl .main-header .outer-box .category-box .category-list > li.category-dropdown > a:before{
  right: inherit;
  left: 15px;
  transform: rotate(180deg);
}

.rtl .main-header .outer-box .category-box .list-inner .shop-block .image{
  right: inherit;
  left: 10px;
}

.rtl .header-style-two .currency-box{
  margin-right: 0px;
  margin-left: 40px;
}

.rtl .main-header .menu-area .text a{
  margin-left: 0px;
  margin-right: 45px;
}

.rtl .header-bottom .bottom-inner .category-list > li{
  float: right;
}

.rtl .header-upper .right-column .currency-box{
  margin-right: 0px;
  margin-left: 40px;
}

.rtl .main-header .outer-box .category-box .category-list > li > a{
  padding-left: 50px;
  padding-right: 63px;
}

.rtl .main-header .outer-box .category-box .category-list > li .icon{
  left: inherit;
  right: 25px;
}

.rtl .header-top .info-list li{
  margin-right: 0px;
  margin-left: 30px;
}

.rtl .header-style-three .header-upper .logo-box{
  margin-right: 0px;
  margin-left: 55px;
}

.rtl .main-header .menu-right-content .search-box{
  margin-right: 0px;
  margin-left: 60px;
}


/** responsive-css **/


@media only screen and (max-width: 1349px){

  .main-header .search-area{
    width: 500px;
  }

  .main-header .menu-right-content .search-box{
    display: none;
  }

}

@media only screen and (max-width: 1200px){
  .main-header .outer-box .category-box .list-inner .inner-box .single-column{
    width: 100%;
  }

  .main-header .outer-box .category-box .category-list .list-inner{
    width: 600px;
  }

  .main-header .outer-box .category-box .text:before{
    display: none;
  }

  .main-header .outer-box .category-box .text span{
    display: none;
  }

  .main-header .outer-box .category-box{
    padding: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #E6E6E6;
    top: 0px;
    border-radius: 0px;
    text-align: center;
  }

  .main-header .outer-box .category-box .text i{
    position: relative;
    top: 0px;
    display: inline-block;
  }

  .main-header .outer-box .category-box .text{
    padding: 0px !important;
    line-height: 30px;
  }

  .main-header .header-lower{
    padding: 15px 0px;
  }
}

@media only screen and (max-width: 991px){
  .main-header .outer-box .category-box .category-list .list-inner{
    width: 280px;
    padding-right: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px;
  }

  .main-header .outer-box .category-box .list-inner .shop-block{
    position: relative;
    width: 100%;
  }

  .language-picker{
    display: none;
  }

  .main-header .search-area{
    width: 360px;
  }

  .main-header .menu-area .text{
    display: none;
  }

  .header-top .top-inner{
    padding-left: 0px;
  }

  .header-top .logo-box{
    display: none;
  }

  .header-top .top-inner{
    display: block;
    text-align: center;
  }

  .header-top .info-list{
    justify-content: center;
  }

  .header-top .text{
    margin: 10px 0px;
  }

}

@media only screen and (max-width: 767px){
  .header-upper .upper-inner{
    display: block;
    text-align: center;
  }

  .main-header .search-area{
    margin: 0 auto;
  }

  .header-upper .right-column{
    display: none;
  }

  .main-header .menu-right-content .currency-box{
    display: none;
  }

  .header-upper .upper-inner .logo-box{
    margin-bottom: 15px;
  }

  .header-top .search-box{
    width: 200px;
  }

}

@media only screen and (max-width: 599px){
  .main-header .outer-box .category-box .category-list .list-inner{
    left: 0px;
    top: 50px;
    z-index: 2;
    transform-origin: top center;
    transform: scaleY(0);
  }

  .main-header .outer-box .category-box .category-list .category-dropdown:hover .list-inner{
    transform: scaleY(1);
  }

  .rtl .main-header .outer-box .category-box .category-list .list-inner{
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    transform-origin: top center;
  }

  .header-style-three .search-area,
  .main-header .location-box{
    display: none !important;
  }

  .header-style-three .header-upper .logo-box{
    margin: 0px !important;
  }
}

@media only screen and (max-width: 499px){

  .main-header .outer-box .category-box .category-list > li > a{
    padding: 12px 20px;
  }

  .main-header .search-area .search-box .form-group{
    width: 100%;
  }

  .main-header .search-area .category-inner{
    width: 100%;
  }

  .main-header .search-area .category-inner .nice-select{
    border: none;
    width: 100%;
  }

  .main-header .search-area{
    display: block;
    width: 100%;
  }

  .main-header .search-area .category-inner .nice-select{
    text-align: left;
    border: none !important;
  }

  .rtl .main-header .search-area .category-inner .nice-select{
    text-align: right;
  }

  .main-header .search-area{
    border-radius: 10px;
  }

  .header-top .search-box{
    width: 130px;
  }

  .header-top .search-box .form-group input[type='search']{
    padding-right: 30px;
  }

  .header-style-four .menu-right-content{
    display: none;
  }

}


























