
/** shop-page **/

.shop-page-section .item-shorting{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  padding: 14px 30px;
}

.shop-page-section .item-shorting .left-column .text p{
  font-size: 14px;
}

.shop-page-section .item-shorting .left-column .text p span{
  font-weight: 700;
  color: var(--title-color);
}

.shop-page-section .item-shorting .right-column{
  position: relative;
  display: flex;
  align-items: center;
}

.shop-page-section .item-shorting .right-column p{
  font-size: 14px;
  color: #7C7C7C;
  margin-right: 10px;
}

.shop-page-section .item-shorting .right-column .short-box{
  position: relative;
  display: flex;
  align-items: center;
}

.shop-page-section .item-shorting .right-column .select-box{
  min-height: 30px;
}

.shop-page-section .item-shorting .right-column .short-box .nice-select{
  font-size: 14px;
  line-height: 30px;
  color: var(--title-color);
  text-transform: capitalize;
}

.shop-page-section .item-shorting .right-column .short-box .nice-select:before{
  color: var(--title-color);
}

.shop-page-section .item-shorting .right-column .short-box .nice-select .list{
  min-width: 120px;
}

.shop-page-section .item-shorting .right-column .menu-box{
  position: relative;
  display: flex;
  align-items: center;
}

.shop-page-section .item-shorting .right-column .menu-box button{
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 22px;
  background: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #7C7C7C;
  cursor: pointer;
  transition: all 500ms ease;
}

.shop-page-section .item-shorting .right-column .menu-box button.on{
  background: #fff;
}

.shop-page-section .item-shorting .right-column .menu-box button img{
  display: inline-block;
  opacity: 0.7;
  transition: all 500ms ease;
}

.shop-page-section .item-shorting .right-column .menu-box button.on img{
  opacity: 1;
}

.wrapper.list .shop-list-content{
  display: block;
}

.wrapper.list .shop-grid-content{
  display: none
}

.wrapper.grid .shop-list-content{
  display: none;
}

.wrapper.grid .shop-grid-content{
  display: block
}

.shop-page-section .wrapper .inner-container{
  border: 1px solid #E5E5E5;
  border-radius: 10px;
}

.shop-page-section .wrapper .inner-container .shop-block-one{
  float: left;
  width: 25%;
}

.shop-page-section .wrapper .inner-container .shop-block-one .inner-box .image-box{
  background: transparent;
}

.shop-page-section .wrapper .inner-container .shop-block-one .inner-box:hover{
  z-index: 1;
}

.shop-page-section .wrapper .inner-container .shop-block-one .inner-box{
  overflow: visible;
  margin-bottom: 0px;
}

.shop-page-section .wrapper .inner-container .shop-block-one .inner-box.border-right{
  border-right: 1px solid #E5E5E5;
}

.shop-page-section .wrapper .inner-container .shop-block-one .inner-box.border-bottom{
  border-bottom: 1px solid #E5E5E5 !important;
}

.shop-page-section .wrapper .inner-container .shop-block-one .inner-box:before{
  position: absolute;
  content: '';
  background: #fff;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  left: -1px;
  top: -1px;
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.10);
  transition: all 500ms ease;
  opacity: 0;
}

.shop-page-section .wrapper .inner-container .shop-block-one .inner-box:hover:before{
  opacity: 1;
}

.shop-page-section .shop-block-one .inner-box .image-box .option-list li a, 
.shop-page-section .shop-block-one .inner-box .image-box .option-list li button{
  border: 1px solid #e5e5e5;
}

.shop-page-section .shop-block-one .inner-box .image-box .option-list li a:hover, 
.shop-page-section .shop-block-one .inner-box .image-box .option-list li button:hover{

}

.shop-page-section .shop-block-one .inner-box .item-quantity-selector{
  right: 38px;
}

.shop-page-section .shop-block-one .inner-box .lower-content .rating{
  position: absolute;
  top: 3px;
  right: 30px;
}

.shop-page-section .shop-block-one .inner-box .lower-content .text{
  margin-bottom: 20px;
}

.shop-page-section .cta-section .inner-container{
  padding-top: 82px;
  padding-bottom: 82px;
}

.shop-banner .slide-item{
  padding: 110px 120px;
}

.shop-sidebar .table-outer {
  overflow-x: auto;
  position: relative;
  width: 100%;
}

.shop-sidebar .sidebar-table {
  min-width: 1585px;
  width: 100%;
}

.shop-sidebar .sidebar-table tbody{
  vertical-align: top;
}

.shop-sidebar .sidebar-table .widget-title{
  margin-bottom: 25px;
}

.shop-sidebar .sidebar-table tbody tr td{
  padding-right: 50px;
  width: 220px;
}

.shop-sidebar .sidebar-table tbody tr td:last-child{
  padding: 0px;
  width: 150px;
}

.shop-sidebar .sidebar-table tbody tr .filter-widget{
  width: 220px;
}

.shop-sidebar.style-two .category-list li label{
  display: block;
}

.shop-sidebar.style-two .category-list li{
  position: relative;
}

.shop-sidebar .category-list li span{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 14px;
  color: var(--title-color);
}

.shop-sidebar .category-list li .check-box input:checked + label span{

}

.shop-page-section .item-shorting .left-column{
  position: relative;
  display: flex;
  align-items: center;
}

.shop-page-section .item-shorting .left-column .filter-button button{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  padding: 8px 20px;
  width: 180px;
  text-align: left;
  border-radius: 50px;
}

.shop-page-section .item-shorting .left-column .filter-button button i{
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 7px;
}

.shop-page-section .cta-style-two .inner-container{
  padding: 39px 30px;
  overflow: hidden;
}

.shop-page-section .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down{
  background: transparent;
}

.shop-page-section .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down:after{
  position: absolute;
  content: '';
  background: #E7E9F0;
  width: 1px;
  height: 24px;
  top: 10px;
  right: 0px;
}

.shop-page-section .bootstrap-touchspin .btn.bootstrap-touchspin-up{
  background: transparent;
}

.shop-page-section .bootstrap-touchspin .btn.bootstrap-touchspin-up:after{
  position: absolute;
  content: '';
  background: #E7E9F0;
  width: 1px;
  height: 24px;
  top: 10px;
  left: 0px;
}

.shop-page-section .item-quantity-selector{
  height: 44px;
}

.shop-page-section .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down:before,
.shop-page-section .bootstrap-touchspin .btn.bootstrap-touchspin-up:before{
  color: var(--title-color) !important;
}

.shop-page-section .bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down{
  left: -30px;
  top: 0px;
}

.shop-page-section .bootstrap-touchspin .btn.bootstrap-touchspin-up{
  right: -35px;
  top: 0px;
}


/** rtl-css **/

.rtl .shop-page-section .item-shorting .right-column .menu-box button.mr_10{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .shop-page-section .item-shorting .right-column p{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .shop-page-section .wrapper .inner-container .shop-block-one{
  float: right;
}

.rtl .shop-page-section .shop-block-one .inner-box .lower-content .rating{
  right: inherit;
  left: 30px;
}

.rtl .shop-page-section .shop-block-one .inner-box .item-quantity-selector{
  right: inherit;
  left: 38px;
}

.rtl .shop-page-section .shop-block-one .inner-box .decore{
  left: 30px;
}

.rtl .shop-page-section .wrapper .inner-container .shop-block-one .inner-box.border-right{
  border-left: 1px solid #E5E5E5;
  border-right: none;
}

.rtl .shop-page-section .item-shorting .left-column .filter-button button{
  margin-right: 0px;
  margin-left: 40px;
}


/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .shop-page-section .shop-block-one .inner-box .lower-content .rating{
    position: relative;
    top: 0px;
    right: 0px;
  }

  .shop-page-section .wrapper .inner-container .shop-block-one{
    width: 50%;
  }
}

@media only screen and (max-width: 767px){

  .shop-sidebar{
    margin-bottom: 40px;
  }

  .shop-page-section .wrapper .inner-container .shop-block-one{
    width: 100%;
  }

  .shop-page-section .item-shorting{
    display: block;
    text-align: center;
  }

  .shop-page-section .item-shorting .right-column{
    justify-content: center;
  }
}

@media only screen and (max-width: 599px){
  
}

@media only screen and (max-width: 499px){

  .shop-page-section .item-shorting .right-column .short-box{
    margin-right: 15px;
  }

  .rtl .shop-page-section .item-shorting .right-column .short-box{
    margin-left: 15px;
    margin-right: 0px;
  }

  .shop-page-section .item-shorting .left-column{
    display: block;
    text-align: center;
  }

  .shop-page-section .item-shorting .left-column .filter-button{
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .rtl .shop-page-section .item-shorting .left-column .filter-button{
    margin-left: 0px;
  }

}











































